* {
    padding: 0;
    margin: 0;
}

menu {
    background-color: rgba(40, 40, 40, 0.6);
    color: #d4d4d4;
    border: 1px solid #fff;
    border-radius: 4px;
}

menu > * {
    padding: 5px;
}

window#waybar {
    background-color: rgba(40, 40, 40, 0.6);
    color: #d4d4d4;
    border: 1px solid #fff;
    border-radius: 4px;
}

#custom-power {
    font-size: 32px;
 
    /* Invisble borders to prevent size changing on hover */
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
}

#bluetooth {
    font-size: 1.4em;
}

#clock {
    font-size: 1.2em;
}

/* Put some distance between the first tray icon and the border */
.modules-right #tray > widget:first-child image {
    padding-left: 10px;
}

.modules-right #tray > widget:last-child image {
    padding-right: 10px;
}

.modules-right #tray {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    margin: 10px 0px 10px 5px;
}

.modules-right > widget > *:first-child {
    margin: 0 5px;
}

#custom-power {
    margin: 0 0;
}

#workspaces button,
#custom-power {
    padding: 0 10px;

    color: #d4d4d4;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: 0;

    /* Disable animations */
    animation: unset;
    transition: unset;
}

#workspaces button {
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
}

#workspaces button:hover,
#custom-power:hover {
    background: rgba(60, 60, 60, 0.8);
    border: unset;
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#workspaces button.visible:first-child,
#workspaces button:hover:first-child {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid #fff;
}

#custom-power:hover {
    border-radius: 0 4px 4px 0;
    border-right: 1px solid #fff;
}

#workspaces button.visible {
    background: rgba(60, 60, 60, 0.8);
    color: #e3e3e3;
    font-weight: 800;
    border: unset;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

